  <!-- Hero -->
  <section class="et-hero-tabs">
    <section id="mf9">
      <div class="row">
        <div class="col-lg-7 col-sm-12 mx-0 px-0 image">
        </div>
        <div class="col-lg-5 col-sm-12 banner-right">
          <div class="box">
            <h2 style="padding-bottom: 10px; font-size:4vw; color: white;"> <em><strong>Life Changing</strong></em> Nutritional Supplement </h2>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <p style="margin-top: 4px; color: #FFFFFF">"I feel my skin is more radiant and firmer, I have more energy throughout the day and better sleep. Amazing product!"</p>
            <p style="margin-bottom: 0px; color: white;">Lu Wong, Australia</p>
            <%= image_tag("mf9-pe.png", alt: "mf9 products", class:"product") %>
          </div>
        </div>
    </section>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#mf9">
        <%= image_tag("mf9-logo.png", class:"logo", alt: "public") %>
      </a>
      <a class="et-hero-tab" href="#why-mf9">Why MF9</a>
      <a class="et-hero-tab" href="#the-beginning">Our Story</a>
      <a class="et-hero-tab" href="#our-products">Products</a>
 <!--      <a class="et-hero-tab" href="#tab-other">Other</a> -->
      <span class="et-hero-tab-slider"></span>
    </div>
<!--     <div class="wrapper wrapper-top">
      <div class="icon facebook">
        <div class="tooltip">Facebook</div>
        <span><i class="fab fa-facebook-f"></i></span>
      </div>
      <div class="icon twitter">
        <div class="tooltip">Twitter</div>
        <span><i class="fab fa-twitter"></i></span>
      </div>
      <div class="icon instagram">
        <div class="tooltip">Instagram</div>
        <span><i class="fab fa-instagram"></i></span>
      </div>
    </div> -->
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="why-mf9">


        <!-- <div class="container mx-0 px-0" style="width: 100%;"> -->
          <!-- <h1>Why MF9</h1> -->
          <div class="row mx-0 px-0" style="padding-left: 0px;">
            <div class="col-lg-6 box-two mx-0 px-0" style="padding-left: 0; padding-top: 0; display:flex; justify-content: center; align-items: center;">
            <div class="content-slider">
              <div class="slider">
                <div class="mask">
                  <ul>
                    <li class="anim1" style="height: 500px; display:flex; align-items: center;">
                      <div class="quote">
                        <h2 style="width: 100%; padding-bottom: 20px;">We may not be able to prolong our life, but we can:</h2>
                        <div class="container container-list">
                            <div class="list">Reverse effect of external factors that accelerate ageing</div>
                            <div class="list">Delay signs of aging</div>
                            <div class="list">Reduce risk of aging associated diseases</div>
                            <div class="list">Age gloriously</div>
                        </div>
         <!--                  <p>Reverse effect of external factors that accelerate ageing</p>
                          <p>Delay sign of aging</h6>
                          <p>Reduce risk of aging associated diseases</p>
                          <p>Age gloriously</p> -->
                      </div>
                      <!-- <div class="source">- Person</div> -->
                    </li>
                    <li class="anim2" style="height: 500px; display:flex; align-items: center;">
                      <!-- <h2 style="padding-bottom: 20px;">Ultimate Care to Defy Ageing</h2> -->
                      <div class="quote">
                        <h2 style="padding-bottom: 20px;">Ultimate Care to Defy Ageing</h2>
                       <p>The body’s ability to rejuvenate cells slows down and ceases to perform effectively as we age, putting us at risk of developing various chronic illnesses and lifestyle diseases. Early prevention is the fundamental principle of good health as our bodies possess the ability to build our own anti-ageing mechanism.</p>
                      </div>
                      <!-- <div class="source">- Another person</div> -->
                    </li>
                    <li class="anim3" style="height: 500px; display:flex; align-items: center;">
                      <div class="quote">
                        <h3 style="font-size: 24px;">MF9 is a global anti-aging brand that offers Swiss-formulated and innovated supplements and skincare products for general health and beauty care.</h3>
                      </div>
                      <!-- <div class="source">- Animal</div> -->
                    </li>
                    <li class="anim4" style="height: 500px; display:flex; align-items: center;">
                      <div class="quote">With botanical and placental extracts, MF9’s products are the result of cutting edge technology, innovated and formulated in Switzerland, and marked with quality assurance and product accreditations. These reflects the brand’s pioneering role in the global anti-aging industry for the past 20 years, delivering trust and unrivalled rejuvenation to consumers worldwide.</div>

                    </li>
                    <li class="anim5" style="height: 500px; display:flex; align-items: center;">
                      <br>
                      <br>
                      <br>
                      <div class="quote">Start your plan to maintain your youth and keep your body in the best condition, keeping healthy and energetic today.</div>
                    <!--   <div class="source">- Cassidy</div> -->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
           </div>
           <div class="col-lg-6 col-sm-12 image-2 mx-0 px-0">
           </div>
          </div>
        <!-- </div> -->

    </section>
    <section class="et-slide" id="the-beginning" style="overflow: hidden;">
      <div class="row mx-0">
        <div class="image-3" style="height: 78vh; width: 100%; overflow: hidden;">

          <div class="transparent">
            <div class="col-lg-5 col-sm-12 mx-0 px-0" style="display: flex; align-items: center; justify-content: center; opacity: 1;">
               <%= image_tag("tri_factor.png", alt: "Tri Factor", class:"tri-factor", style:"height: 30vh;") %>
            </div>
            <div class="col-lg-7 col-sm-12 box-3">
           <!--    <div class="box-3"> -->
                <h3>MF9 is a brand by MF3 that is used exclusively for the Indonesian market. All products under the brand MF9, are the same products as those of MF3.</h3>
                <p> MF3 began its proud history as MF3 of Switzerland, the brand that carries pioneering Softgels supplements made from animal and plant placenta extracts. </p>
                <p> MF3's revolutionary PE and VP Softgels Advanced Formula supplements became the forerunner of placenta supplements in the market and captured worldwide fans for their superior quality and proven results. </p>
            <!--   </div> -->
            </div>
        </div>
        </div>
      </div>
      <div class="row">
      <div class="slider-2">
        <div class="slide-track">
          <div class="slide">
            <%= image_tag("asia-pacific-excellent.png", alt: "Asia Pacific Excellent Award", style:"height: 100px") %>
          </div>
          <div class="slide">
            <%= image_tag("BrandLaureate-Awards-1.png", alt: "Brand Laureate Award", style:"height: 100px") %>
          </div>
          <div class="slide">
            <%= image_tag("geneva-invention.png", alt: "Geneva Invention Award", style:"height: 100px") %>
          </div>
          <div class="slide">
            <%= image_tag("innovative-finalist.png", alt: "Innovative Finalist Award", style:"height: 100px") %>
          </div>
          <div class="slide">
            <%= image_tag("leadership-star.png", alt: "Leadership Star Award", style:"height: 100px") %>
          </div>
          <div class="slide">
            <%= image_tag("nbt-winner.png", alt: "NBT Winner Award", style:"height: 100px") %>
          </div>
          <!-- <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
          </div> -->
          <div class="slide">
            <%= image_tag("asia-pacific-excellent.png", alt: "Asia Pacific Excellent Award", style:"height: 100px") %>
          </div>
          <div class="slide">
            <%= image_tag("BrandLaureate-Awards-1.png", alt: "Brand Laureate Award", style:"height: 100px") %>
          </div>
          <div class="slide">
            <%= image_tag("geneva-invention.png", alt: "Geneva Invention Award", style:"height: 100px") %>
          </div>
          <div class="slide">
            <%= image_tag("innovative-finalist.png", alt: "Innovative Finalist Award", style:"height: 100px") %>
          </div>
          <div class="slide">
            <%= image_tag("leadership-star.png", alt: "Leadership Star Award", style:"height: 100px") %>
          </div>
          <div class="slide">
            <%= image_tag("nbt-winner.png", alt: "NBT Winner Award", style:"height: 100px") %>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="et-slide" id="our-products">
      <h1>Our Products</h1>
      <h3>something about react</h3>
    </section>
<!--     <section class="et-slide" id="tab-angular">
      <h1>Angular</h1>
      <h3>something about angular</h3>
    </section>
    <section class="et-slide" id="tab-other">
      <h1>Other</h1>
      <h3>something about other</h3>
    </section> -->
  </main>
  <div class="wrapper wrapper-bottom">
    <div class="icon facebook">
      <div class="tooltip">Facebook</div>
      <span><i class="fab fa-facebook-f"></i></span>
    </div>
    <div class="icon instagram">
      <div class="tooltip">Instagram</div>
      <a href="https://www.instagram.com/pt.toscaindonesia/"><span><i class="fab fa-instagram"></i></span></a>
    </div>
    <div class="icon whatsapp">
      <div class="tooltip">Whatsapp</div>
      <a href="https://api.whatsapp.com/send/?phone=628119903939&text&app_absent=0"><span><i class="fab fa-whatsapp"></i></span></a>
    </div>
  </div>





